@model PivotalTrackerAPI.Domain.Model.PivotalStory

<h2 id="title">@Model.Name</h2>
<span id="description">@Model.Description</span>

<h3>Your Estimate</h3>

<div style="clear: right;">
    @for(int i=0; i<=3; i++){
        <div data-score="@i" class="Selection Card FloatLeft">@i</div>
    }
    <div style="clear: both;"></div>
</div>

<div>
    <h3>Other People's Estimates</h3>
    <p id="otherEstimates">
    </p>
</div>
<script id="cardTemplate" type="text/x-jquery-tmpl">
    <div class='OtherEstimate FloatLeft'>
        <div class='Card' style='display:inline'>${vote}</div>
        <p>${name}</p>
    </div>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.Selection').click(function () {
            $(".Card").removeClass("Selected");
            $(this).addClass("Selected");
            $.post('@Url.Action("vote", new { id = Model.Id })', { score: $(this).data('score') });
        });
        $('#otherEstimates').smartupdater({
            url: '@Url.Action("votes")',
            dataType: 'json',
            minTimeout: 2000
        }, function (data) {
            var cards = $('#cardTemplate').tmpl(data);
            $('#otherEstimates').empty().append(cards);
        });
    });
</script>