@model PivotalPoker.Controllers.StoryController.DetailModel
@{
    var story = Model.Story;
}

<h2 id="title">@story.Name</h2>
<span id="description">@story.Description</span>
<h3>Tasks</h3>
<ul id="tasks">
    @foreach (var task in story.Tasks.OrderBy(s => s.Position))
    {
        <li>@task.Description</li>
    }
</ul>
<h3>Comments</h3>
<ul id="comments">
    @foreach(var note in story.Notes.OrderBy(n => n.CreationDate))
    {
        <li>@note.Author: @note.Text</li>
    }
</ul>
    
<h3>Your Estimate</h3>

<div style="clear: right;">
    @foreach(var i in Model.PointScaleOptions){
        <div data-score="@i" class="Selection Card FloatLeft">@i</div>
    }
    <div style="clear: both;"></div>
</div>

<div>
    <h3>All Estimates</h3>
    <div id="otherEstimates">
    </div>
</div>
<p id="done" class="hidden">
    @Html.ActionLink("Start next story", "Index", "Projects")
</p>
<p>
    @Html.ActionLink("Reset game", "Reset", "Story", new { id = "reset" })
</p>
<script id="card" type="text/html">
    {{#votes}}
    <div class='OtherEstimate FloatLeft'>
        <div class='Card' style='display:inline'>{{vote}}</div>
        <p>{{name}}</p>
    </div>
    {{/votes}}
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.Selection').click(function () {
            $(".Card").removeClass("Selected");
            $(this).addClass("Selected");
            $.post('@Url.Action("vote")', { score: $(this).data('score') });
        });
        $('#otherEstimates').smartupdater({
            url: '@Url.Action("status")',
            dataType: 'json',
            minTimeout: 1000
        }, function (data) {
            $('#otherEstimates').empty().append(ich.card(data));
            if (data.completed) $('#done').show();
        });
        $('#reset').click(function (event) {
            event.preventDefault();
            $.post(this.href);
        });
    });
</script>